In [1]:
import pandas as pd

### Importar dados do PIB

In [2]:
pib = pd.read_excel('../arquivos/Arquivo_02_pd.xlsx', sheet_name = 'PIB')

### Visualisar tabela PIB

In [3]:
pib.head()

,id_Estado,sigla_Estado,ano_PIB,ano_Referencia,valor_Bruto_Agropecuaria,valor_Bruto_Industria,valor_Bruto_Servicos,valor_Bruto_Administracao_Publica,valor_Bruto_Total,valor_Impostos_Liquido,valor_PIB,valor_PIB_percapita,populacao_Projetada,quant_Municipios
0,11,RO,2017,2018,5876784259,8193983928,14450296420,10759983506,39281048108,4235099382,43516147492,24098,1805788,52
1,12,AC,2017,2018,1342187256,1023095600,5280288945,5190092126,12835663924,1437276669,14272940594,17204,829619,22
2,13,AM,2017,2018,5604035132,26055812058,30512813336,16324806476,78497467001,14742723917,93240190919,22945,4063614,62
3,14,RR,2017,2018,609139184,960504989,4081352099,5531834638,11182830907,921878239,12104709147,23161,522636,15
4,15,PA,2017,2018,16743181599,43802183118,50120765866,30982907497,141649038089,13583365709,155232403793,18554,8366628,144

### Realizar comando análogo função SOMASES

#### Resumo por estados

In [4]:
resumo_estado = pib.groupby([
    'sigla_Estado'
]).agg({
    'valor_PIB' : 'sum'
}).reset_index()

In [5]:
resumo_estado.head()

  sigla_Estado     valor_PIB
0           AC   29604063183
1           AL  107264113594
2           AM  193349425986
3           AP   32277114993
4           BA  554963631349

#### Resumo por ano

In [6]:
resumo_ano = pib.groupby([
    'ano_PIB'
]).agg({
    'valor_PIB' : 'sum'
}).reset_index()

In [7]:
resumo_ano.head()

   ano_PIB      valor_PIB
0     2017  6585479000016
1     2018  7004140999992