In [1]:
import pandas as pd
import numpy as np

### Importar dados do PIB

In [2]:
pib = pd.read_excel('../arquivos/Arquivo_03_pd.xlsx', sheet_name = 'PIB')

### Visualisar tabela PIB

In [3]:
pib.head()

,id_Estado,sigla_Regiao,sigla_Estado,ano_PIB,ano_Referencia,valor_Bruto_Agropecuaria,valor_Bruto_Industria,valor_Bruto_Servicos,valor_Bruto_Administracao_Publica,valor_Bruto_Total,valor_Impostos_Liquido,valor_PIB,valor_PIB_percapita,populacao_Projetada,quant_Municipios
0,50,CO,MS,2010,2018,7151612325,9380762956,1.677730e+10,8186336355,41496012552,5774643847,47270656394,19299,2449341,78
1,51,CO,MT,2010,2018,8373222532,9770833413,2.257562e+10,9054873855,49774547612,6826407756,56600955373,18656,3033991,141
2,52,CO,GO,2010,2018,10376549294,26426091169,4.211731e+10,14326052903,93245999720,13524109748,106770109478,17783,6004045,246
3,53,CO,DF,2010,2018,327804575,9184148921,5.825956e+10,53848708424,121620222895,22553878700,144174101595,56253,2562963,1
4,11,N,RO,2010,2018,2295537137,4779253947,8.011724e+09,5870442984,20956957849,2950929036,23907886882,15321,1560501,52

### Colunas de verificação de segmento da economia

In [4]:
colunas_selecionadas = ['valor_Bruto_Agropecuaria', 'valor_Bruto_Industria', 'valor_Bruto_Servicos', 'valor_Bruto_Administracao_Publica', 'valor_Impostos_Liquido']

In [5]:
indice_coluna_maior_valor = np.argmax(pib[colunas_selecionadas].values, axis=1)

In [6]:
# Identificar coluna/segmento com maior valor
pib['melhor_Segmento'] = pd.Index(pib[colunas_selecionadas].stack().index[indice_coluna_maior_valor])

In [7]:
# Identificar coluna/segmento com maior valor
pib['melhor_Segmento'] = list(pib['melhor_Segmento'].str)[1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

In [8]:
pib.head()

,id_Estado,sigla_Regiao,sigla_Estado,ano_PIB,ano_Referencia,valor_Bruto_Agropecuaria,valor_Bruto_Industria,valor_Bruto_Servicos,valor_Bruto_Administracao_Publica,valor_Bruto_Total,valor_Impostos_Liquido,valor_PIB,valor_PIB_percapita,populacao_Projetada,quant_Municipios,melhor_Segmento
0,50,CO,MS,2010,2018,7151612325,9380762956,1.677730e+10,8186336355,41496012552,5774643847,47270656394,19299,2449341,78,valor_Bruto_Servicos
1,51,CO,MT,2010,2018,8373222532,9770833413,2.257562e+10,9054873855,49774547612,6826407756,56600955373,18656,3033991,141,valor_Bruto_Servicos
2,52,CO,GO,2010,2018,10376549294,26426091169,4.211731e+10,14326052903,93245999720,13524109748,106770109478,17783,6004045,246,valor_Bruto_Servicos
3,53,CO,DF,2010,2018,327804575,9184148921,5.825956e+10,53848708424,121620222895,22553878700,144174101595,56253,2562963,1,valor_Bruto_Servicos
4,11,N,RO,2010,2018,2295537137,4779253947,8.011724e+09,5870442984,20956957849,2950929036,23907886882,15321,1560501,52,valor_Bruto_Servicos

In [9]:
# Identificar coluna/segmento com maior valor
pib['melhor_Segmento'] = pd.Index(pib[colunas_selecionadas].stack().index[indice_coluna_maior_valor])

In [10]:
# Identificar coluna/segmento com maior valor
pib['melhor_Segmento'] = pib['melhor_Segmento'].str.slice(1, 2)

In [11]:
pib.head()

,id_Estado,sigla_Regiao,sigla_Estado,ano_PIB,ano_Referencia,valor_Bruto_Agropecuaria,valor_Bruto_Industria,valor_Bruto_Servicos,valor_Bruto_Administracao_Publica,valor_Bruto_Total,valor_Impostos_Liquido,valor_PIB,valor_PIB_percapita,populacao_Projetada,quant_Municipios,melhor_Segmento
0,50,CO,MS,2010,2018,7151612325,9380762956,1.677730e+10,8186336355,41496012552,5774643847,47270656394,19299,2449341,78,"(valor_Bruto_Servicos,)"
1,51,CO,MT,2010,2018,8373222532,9770833413,2.257562e+10,9054873855,49774547612,6826407756,56600955373,18656,3033991,141,"(valor_Bruto_Servicos,)"
2,52,CO,GO,2010,2018,10376549294,26426091169,4.211731e+10,14326052903,93245999720,13524109748,106770109478,17783,6004045,246,"(valor_Bruto_Servicos,)"
3,53,CO,DF,2010,2018,327804575,9184148921,5.825956e+10,53848708424,121620222895,22553878700,144174101595,56253,2562963,1,"(valor_Bruto_Servicos,)"
4,11,N,RO,2010,2018,2295537137,4779253947,8.011724e+09,5870442984,20956957849,2950929036,23907886882,15321,1560501,52,"(valor_Bruto_Servicos,)"

In [12]:
# Identificar coluna/segmento com maior valor
pib['valor_melhor_Segmento'] = pib[colunas_selecionadas].apply(np.max, axis=1)

In [13]:
pib.head()

,id_Estado,sigla_Regiao,sigla_Estado,ano_PIB,ano_Referencia,valor_Bruto_Agropecuaria,valor_Bruto_Industria,valor_Bruto_Servicos,valor_Bruto_Administracao_Publica,valor_Bruto_Total,valor_Impostos_Liquido,valor_PIB,valor_PIB_percapita,populacao_Projetada,quant_Municipios,melhor_Segmento,valor_melhor_Segmento
0,50,CO,MS,2010,2018,7151612325,9380762956,1.677730e+10,8186336355,41496012552,5774643847,47270656394,19299,2449341,78,"(valor_Bruto_Servicos,)",1.677730e+10
1,51,CO,MT,2010,2018,8373222532,9770833413,2.257562e+10,9054873855,49774547612,6826407756,56600955373,18656,3033991,141,"(valor_Bruto_Servicos,)",2.257562e+10
2,52,CO,GO,2010,2018,10376549294,26426091169,4.211731e+10,14326052903,93245999720,13524109748,106770109478,17783,6004045,246,"(valor_Bruto_Servicos,)",4.211731e+10
3,53,CO,DF,2010,2018,327804575,9184148921,5.825956e+10,53848708424,121620222895,22553878700,144174101595,56253,2562963,1,"(valor_Bruto_Servicos,)",5.825956e+10
4,11,N,RO,2010,2018,2295537137,4779253947,8.011724e+09,5870442984,20956957849,2950929036,23907886882,15321,1560501,52,"(valor_Bruto_Servicos,)",8.011724e+09

### Realizar comando análogo função PROCV + SE

#### Resumo por ano

In [14]:
ano_pib = 2018

In [15]:
ano_estado = pib[pib['ano_PIB'] == ano_pib][['sigla_Estado', 'valor_PIB', 'populacao_Projetada', 'melhor_Segmento', 'valor_melhor_Segmento']]

In [16]:
ano_estado.head(27)

,sigla_Estado,valor_PIB,populacao_Projetada,melhor_Segmento,valor_melhor_Segmento
216,MS,106969141700,2748023,"(valor_Bruto_Servicos,)",3.856384e+10
217,MT,137442852830,3441998,"(valor_Bruto_Servicos,)",5.634301e+10
218,GO,195681723983,6921161,"(valor_Bruto_Servicos,)",8.757596e+10
219,DF,254817204692,2974703,"(valor_Bruto_Servicos,)",1.137681e+11
220,RO,44913978485,1757589,"(valor_Bruto_Servicos,)",1.608257e+10
221,AC,15331122589,869265,"(valor_Bruto_Servicos,)",5.860255e+09
222,AM,100109235067,4080611,"(valor_Bruto_Servicos,)",3.250566e+10
223,RR,13369987723,576568,"(valor_Bruto_Administracao_Publica,)",5.653764e+09
224,PA,161349602041,8513497,"(valor_Bruto_Servicos,)",5.400148e+10
225,AP,16795206667,829494,"(valor_Bruto_Administracao_Publica,)",7.189968e+09
226,TO,35666183081,1555229,"(valor_Bruto_Servicos,)",1.397314e+10
227,MA,98179495654,7035055,"(valor_Bruto_Servicos,)",3.961676e+10
228,PI,50378417555,3264531,"(valor_Bruto_Servicos,)",1.980530e+10
229,CE,155903824754,9075649,"(valor_Bruto_Servicos,)",7.277008e+10
230,RN,66969562002,3479010,"(valor_Bruto_Servicos,)",2.812759e+10
231,PB,64373595371,3996496,"(valor_Bruto_Servicos,)",2.686903e+10
232,PE,186351975245,9496294,"(valor_Bruto_Servicos,)",8.054101e+10
233,AL,54413046659,3322820,"(valor_Bruto_Servicos,)",2.182908e+10
234,SE,42017981276,2278308,"(valor_Bruto_Servicos,)",1.756847e+10
235,BA,286239541115,14812618,"(valor_Bruto_Servicos,)",1.263223e+11
236,PR,440029402856,11348937,"(valor_Bruto_Servicos,)",1.995204e+11
237,SC,298227090037,7075494,"(valor_Bruto_Servicos,)",1.324622e+11
238,RS,457293957585,11329605,"(valor_Bruto_Servicos,)",2.146447e+11
239,MG,614875819804,21040662,"(valor_Bruto_Servicos,)",2.746594e+11
240,ES,137020054877,3972388,"(valor_Bruto_Servicos,)",5.653919e+10
241,RJ,758859046867,17159960,"(valor_Bruto_Servicos,)",3.517657e+11
242,SP,2210561949477,45538935,"(valor_Bruto_Servicos,)",1.250258e+12