In [1]:
import pandas as pd

### Importar dados do PIB

In [2]:
pib = pd.read_excel('../arquivos/Arquivo_03_pd.xlsx', sheet_name = 'PIB')

### Visualisar tabela PIB

In [3]:
pib.head()

,id_Estado,sigla_Regiao,sigla_Estado,ano_PIB,ano_Referencia,valor_Bruto_Agropecuaria,valor_Bruto_Industria,valor_Bruto_Servicos,valor_Bruto_Administracao_Publica,valor_Bruto_Total,valor_Impostos_Liquido,valor_PIB,valor_PIB_percapita,populacao_Projetada,quant_Municipios
0,50,CO,MS,2010,2018,7151612325,9380762956,1.677730e+10,8186336355,41496012552,5774643847,47270656394,19299,2449341,78
1,51,CO,MT,2010,2018,8373222532,9770833413,2.257562e+10,9054873855,49774547612,6826407756,56600955373,18656,3033991,141
2,52,CO,GO,2010,2018,10376549294,26426091169,4.211731e+10,14326052903,93245999720,13524109748,106770109478,17783,6004045,246
3,53,CO,DF,2010,2018,327804575,9184148921,5.825956e+10,53848708424,121620222895,22553878700,144174101595,56253,2562963,1
4,11,N,RO,2010,2018,2295537137,4779253947,8.011724e+09,5870442984,20956957849,2950929036,23907886882,15321,1560501,52

### Realizar comando análogo função MENOR + SE

#### Resumo por ano

In [4]:
ano_pib = 2018

resumo_ano = pib[pib['ano_PIB'] == ano_pib].groupby([
    'ano_PIB'
]).agg({
    'valor_PIB' : [('menor_valor_PIB', 'min'), ('maior_valor_PIB', 'max')]
}).reset_index()

#### Unificar nome cabeçalhos

In [5]:
resumo_ano.columns = ['{},{}'.format(x[0], x[1]) for x in resumo_ano.columns]

resumo_ano.rename(columns={
    resumo_ano.columns[0] : 'ano_PIB'
    ,resumo_ano.columns[1] : 'menor_valor_PIB'
    ,resumo_ano.columns[2] : 'maior_valor_PIB'
}, inplace=True)

In [6]:
resumo_ano

   ano_PIB  menor_valor_PIB  maior_valor_PIB
0     2018      13369987723    2210561949477

#### Resumo por regiao

In [7]:
ano_pib = 2018

resumo_regiao = pib[pib['ano_PIB'] == ano_pib].groupby([
    'sigla_Regiao'
]).agg({
    'valor_PIB' : [('menor_valor_PIB', 'min'), ('maior_valor_PIB', 'max')]
}).reset_index()

#### Unificar nome cabeçalhos

In [8]:
resumo_regiao.columns = ['{},{}'.format(x[0], x[1]) for x in resumo_regiao.columns]

resumo_regiao.rename(columns={
    resumo_regiao.columns[0] : 'sigla_Regiao'
    ,resumo_regiao.columns[1] : 'menor_valor_PIB'
    ,resumo_regiao.columns[2] : 'maior_valor_PIB'
}, inplace=True)

In [9]:
resumo_regiao.head()

  sigla_Regiao  menor_valor_PIB  maior_valor_PIB
0           CO     106969141700     254817204692
1            N      13369987723     161349602041
2           NE      42017981276     286239541115
3            S     298227090037     457293957585
4           SE     137020054877    2210561949477